.outer-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.inner-wrapper {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}