.container {
    display: flex;
    flex-direction: column;
}


.search-input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}


.search-button {
    background: darkorange;
    color: black;
    padding: .5rem;
    border: none;
    width: 5rem;
    border-radius: 5px;
    cursor: pointer;
}